# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build output
dist/

# Env
.env
prisma/.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
/src/generated/prisma
