services:
  api:
    build: .
    container_name: task_auth_api
    restart: always
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    ports:
      - "5000:5000"

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: PG_USER
      POSTGRES_PASSWORD: PG_PASSWORD
      POSTGRES_DB: PG_DATABASE
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    restart: always
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: