NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:<password>@localhost:5432/task_auth"

PG_USER=postgres
PG_PASSWORD=
PG_DATABASE=task_auth

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=testsmtproot@gmail.com
SMTP_PASS=
MAIL_FROM="Auth App <***@gmail.com>"
APP_URL=http://localhost:5000

JWT_ACCESS_SECRET=some_access_secret_token
JWT_REFRESH_SECRET=some_refresh_secret_token